
.player {
    position: relative;

    &:hover {
        .player__toolbox {
            display: inline-block;
            opacity: 1;
        }
    }

    &__toolbox {
        display: none;
        position: absolute;
        z-index: 5;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: auto;
        border-radius: 5px;
        background: #5bc0de;
        text-align: center;
    }

    &__edit,
    &__remove {
        width: 100%;
        height: 30px;
        padding: 5px 0;
        background: transparent;
        border: none;

        &:hover {
            color: black;
        }
    }

}

