<div class="player" (click)="playerTileClicked()">

    <p class="player__full-name">
        {{ player.firstName }} {{ player.lastName }}
    </p>
    <p>
        Broj dresa: <span class="badge">{{ player.shirtNumber }}</span>
    </p>
    <p class="label label-warning">{{ player.position }}</p>

    <div class="player__toolbox">
        <button class="player__remove glyphicon glyphicon-remove" (click)="onRemoveClick()">
        </button>
        <button class="player__edit glyphicon glyphicon-edit" (click)="onEditClick($event)">
        </button>
    </div>

</div>
