<ul class="list-group player-list">
    <li *ngFor="let player of players; let i = index"
        [ngClass]="{'list-group-item': true, 'player-list__item': true, 'active': player.id === selectedID}">
        {{index}}
        <app-player [player]="player"></app-player>
    </li>
</ul>
