
.form {
    min-width: 450px;

    label {
        display: block;
    }


    &__select,
    &__input {
        position: relative;
        width: 300px;
        max-width: 100%;

        &--error {
            box-shadow: inset 0 0 1px 1px crimson;
        }
    }

    &__error-label {
        color: crimson;
        margin: 15px 0 0 0;
    }
}

.form-modal {
    position: fixed;
    z-index: 55;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    &__background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparentize(lightgray, 0.5);
        z-index: 25;
    }

    .form-modal__close {
        font-size: 22px;
        position: absolute;
        right: 5px;
        top: 5px;
        color: rgba(gray, 0.8);

        &:hover {
            color: rgba(red, 0.8);
        }
    }
}
