<div class="container" *ngIf="isVisible">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default form-modal">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ formTitle }}
                    </h4>
                </div>
                <form class="panel-body form" (ngSubmit)="onSubmit()" #form="ngForm">
                    <a role="button" class="form-modal__close" (click)="closeForm()">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                    <div class="form-group">
                        <p class="form__error-label"
                           *ngIf="form.controls?.firstName?.touched && form.controls?.firstName?.invalid">
                            Molimo unesite ime igrača
                        </p>
                        <label for="firstName">
                            Ime:
                        </label>
                        <input id="firstName" name="firstName" type="text" class="form-control form__input"
                               [ngModel]="modelPlayer.firstName" required>
                    </div>

                    <div class="form-group">
                        <p class="form__error-label"
                           *ngIf="form.controls?.lastName?.touched && form.controls?.lastName?.invalid">
                            Molimo unesite prezime igrača
                        </p>
                        <label for="lastName">
                            Prezime:
                        </label>
                        <input id="lastName" name="lastName" type="text" class="form-control form__input"
                               [ngModel]="modelPlayer.lastName" required>
                    </div>

                    <div class="form-group">
                        <p class="form__error-label"
                           *ngIf="form.controls?.shirtNumber?.touched && form.value?.shirtNumber <= 0">
                            Molimo unesite validan broj veći od 0
                        </p>
                        <label for="shirtNum">
                            Broj:
                        </label>
                        <input id="shirtNum" name="shirtNumber" type="number" pattern="^[0-9]+[0-9]*$"
                               class="form-control form__input" [ngModel]="modelPlayer.shirtNumber" required>
                    </div>

                    <div class="form-group">
                        <p class="form__error-label"
                           *ngIf="form.controls?.position?.touched && form.value?.position === ''">
                            Molimo izaberite poziciju
                        </p>

                        <label for="position">
                            Pozicija:
                        </label>
                        <select id="position" name="position" class="form-control form__select"
                                [ngModel]="modelPlayer.position">
                            <option value="" disabled>Pick a position</option>
                            <option *ngFor="let option of playerPositions" [ngValue]="option">{{ option }}</option>
                        </select>
                    </div>

                    <button class="btn btn-primary" style="margin-top: 15px;">
                        Spremi
                    </button>
                </form>
            </div>
            <div class="form-modal__background" *ngIf="isVisible" (click)="closeForm()"></div>
        </div>
    </div>
</div>
