<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" (click)="onBtnClick()" style="margin: 50px 0 25px 0;">
                    Dodaj igrača
                </button>
            </div>
        </div>
    </div>
    <app-player-form></app-player-form>
    <app-player-picker></app-player-picker>
</div>

