
.button-wrapper {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(100px);
}

button {
    background: #5cb85c;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    color: white;
}

button:hover {
    background: #8ad68a;
}

button:disabled {
    opacity: 0.8;
    background: lightgray;
    cursor: not-allowed;
}
