<div class="container">
    <div class="row">

        <div class="col-md-5">
            <section class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Svi igrači</h3>
                </div>
                <div class="panel-body">
                    <app-player-list [players]="players | pickedPlayer:false"
                                     [selectedID]="selectedID"></app-player-list>
                </div>
            </section>
        </div>

        <div class="col-md-2">
            <div class="button-wrapper">
                <button (click)="onArrowClick()" [disabled]="arrowEnable('LEFT')">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>

                <button (click)="onArrowClick()" [disabled]="arrowEnable('RIGHT')">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
            </div>
        </div>

        <div class="col-md-5">
            <section class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Izabrani igrači</h3>
                </div>
                <div class="panel-body">
                    <app-player-list [players]="players | pickedPlayer:true"
                                     [selectedID]="selectedID"></app-player-list>
                </div>
            </section>
        </div>

    </div>
</div>
